body {
    font-family: sans-serif;
    background: linear-gradient(to right, #0F181B, #0D2734);
    color: #D7E5D9;
    margin: 0;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: calc(100vh - 40px);
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
}

#timer-content {
    font-size: 5rem;
    text-align: center;
    margin-top: 20%;
}

.timer-range {
    font-size: 2rem;
    margin: 10px 0;
}

.timer-range-large {
    font-size: 7rem;
    font-weight: bold;
}

.grey {
    color: grey;
}

.green {
    color: lightgreen;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.flashing {
    animation: flash 1s infinite;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
}